@import './_variables';
@import './_navigation';
@import './_footer';
@import './_masonry';
@import './_portfolio';
@import './_post-masonry';

html body {
	font-family: -apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', "Helvetica Neue",sans-serif;
	font-weight: 500;
	margin: 0;
	background-color: $background;
	align-items: center;
}
video{
	object-fit: cover;
	width: 100%;
	height: 400px;
	z-index: -1;
}
.section{
  padding:20px 0;
}

.section-b{
  background:#333;
  color:#fff;
}
.header-content{
  z-index:2;
	
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
  align-items: center;
  display: flex;
  flex-direction:column;
}
.header-content p{
  display: flex;
  flex-direction:column;
  text-align: center;
  padding-top: 20px;
}
.slider-content{
  z-index:2;
  background-color: white;
}

.slider-content h1{
  font-size:50px;
  margin-bottom:0;
  align-items: center;
  display: flex;
  flex-direction:column;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
.body-container {
  height: 400px;
  width: 100%;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;

}
.content-wrap {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.wrapper-content{
  z-index:-1;
  height: 390px;
  width: 800px;
  background: white;
  color: grey;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}
.wrapper-content p{

  display: flex;
  flex-direction:column;
  text-align: center;
  padding-top: 20px;

}
.wrapper-content h1{
  font-size:50px;
  color: grey;
  margin-bottom:0;
  padding-top: 10px;
  align-items: center;
  display: flex;
  flex-direction:column;
}
.wrapper-content img {

  border-radius: 80%;
  align-items: center;
  display: flex;
  flex-direction:column;

 }
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 60%;
}